
### YGP.ae

www.ygp.ae {
    redir https://ygp.ae{uri} permanent
}

ygp.ae {

    reverse_proxy ygp-reverse-proxy:5001 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }

}


### voltobahrain.online


www.voltobahrain.online {
    redir https://voltobahrain.online{uri} permanent
}

voltobahrain.online {

	reverse_proxy volto-reverse-proxy:3001 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

}

www.admin.voltobahrain.online {
    redir https://admin.voltobahrain.online{uri} permanent
}

admin.voltobahrain.online {

	reverse_proxy volto-reverse-proxy:3002 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

}


### voltobahrain.com


www.voltobahrain.com {
    redir https://voltobahrain.com{uri} permanent
}

voltobahrain.com {

	reverse_proxy volto-reverse-proxy:3001 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

}

www.admin.voltobahrain.com {
    redir https://admin.voltobahrain.com{uri} permanent
}

admin.voltobahrain.com {

	reverse_proxy volto-reverse-proxy:3002 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

}


### sema-sim.com


www.sema-sim.com {
    redir https://sema-sim.com{uri} permanent
}


sema-sim.com {

	reverse_proxy schoolranking-reverse-proxy:8000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}



### luxuriabahrain.com

www.luxuriabahrain.com {
    redir https://luxuriabahrain.com{uri} permanent
}

luxuriabahrain.com {

	reverse_proxy luxuria-reverse-proxy:4000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

}




### teresbahrain.com

www.teresbahrain.com {
	redir https://teresbahrain.com{uri} permanent
}

teresbahrain.com {

	reverse_proxy teres-reverse-proxy:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

}


www.admin.teresbahrain.com {
	redir https://admin.teresbahrain.com{uri} permanent
}

admin.teresbahrain.com {

	reverse_proxy teres-reverse-proxy:3001 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

}




### jjsirishrestaurant.com

www.jjsirishrestaurant.com {
	redir https://jjsirishrestaurant.com{uri} permanent
}

jjsirishrestaurant.com {

	reverse_proxy jj-reverse-proxy:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}


www.admin.jjsirishrestaurant.com {
	redir https://admin.jjsirishrestaurant.com{uri} permanent
}

admin.jjsirishrestaurant.com {

	reverse_proxy jj-reverse-proxy:3001 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}
