www.ygp.ae {
    redir https://ygp.ae{uri} permanent
}



ygp.ae {

    reverse_proxy ygp-reverse-proxy:5001 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }

}



# www.voltobahrain.online {
#     redir https://voltobahrain.online{uri} permanent
# }


www.admin.voltobahrain.online {
    redir https://admin.voltobahrain.online{uri} permanent
}



admin.voltobahrain.online {

	reverse_proxy volto-reverse-proxy:3001 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

}

